# pandas.DataFrame

https://pandas.pydata.org/docs/reference/
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

DataFrame.to_csv(path_or_buf=None, sep=',', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, quotechar='"', lineterminator=None, chunksize=None, date_format=None, doublequote=True, escapechar=None, decimal='.', errors='strict', storage_options=None)

In [1]:
import pandas as pd

In [2]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

In [3]:
df=pd.DataFrame(data)
display(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [4]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64