# pandas.read_tableengine

https://pandas.pydata.org/docs/reference/
https://pandas.pydata.org/docs/reference/api/pandas.read_table.html

pandas.read_table(filepath_or_buffer, sep=_NoDefault.no_default, delimiter=None, header='infer', names=_NoDefault.no_default, index_col=None, usecols=None, squeeze=None, prefix=_NoDefault.no_default, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors='strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options=None)

In [1]:
import pandas as pd

In [4]:
file = 'file.tsv'
df = pd.read_table(file)
display(df)

  Courses    Fee Duration  Discount
0   Spark  25000  50 Days      2000
1  Pandas  20000  35 Days      1000
2    Java  15000      NaN       800
3  Python  15000  30 Days       500
4     PHP  18000  30 Days       800

In [5]:
file = 'file.txt'
df = pd.read_table(file)
display(df)

    Código OACI CIAD   Nome                                                                                Município                   UF                Município Servido     UF Servido        LATGEOPOINT   LONGEOPOINT   Latitude   Longitude    AltitudOperação Diurna      Operação Noturna     Designação 1Comprimento 1Largura 1Resistência 1     Superfície Designação 2Comprimento 2Largura 2Resistência 2     Superfície Situação  Validade do RegistPortaria de RegisLink Portaria
0    SBRB        AC0001 Plácido de Castro          ...
1    SNGA        ES0007 Guarapari                  ...
2    SBIZ        MA0002 Prefeito Renato Moreira    ...
3    SBPC        MG0018 Embaixador Walther Moreira ...
4    SSCD        MS0007 Chapadão do Sul            ...
..                                                 ...
492  SWPG        MT0010 Porto dos Gaúchos          ...
493  SNIU        BA0030 Ipiaú                      ...
494  SBCH        SC0003 Serafin Enoss Bertaso      ...
495  SDAG        RJ0010 Angra Dos Reis             ...
496  SNMA        PA0019 Monte Alegre               ...

[497 rows x 1 columns]