# pandas.read_sql

https://pandas.pydata.org/docs/reference/

In [1]:
import mariadb

In [ ]:
import mysql.connector

In [ ]:
import sys

In [1]:
import pandas as pd

In [16]:
dsn = {
    'user': 'admin',
    'password': 'Suc355o$',
    # 'host': '127.0.0.1',
    # 'port': 3306,
    'database': 'test',
}

In [11]:
try:
    conn = mariadb.connect(**dsn)
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    # sys.exit(1)
cur = conn.cursor()

In [24]:
cur.execute("SELECT * FROM Aluno")

In [22]:
display(cur.closed)

False

In [17]:
display(cur.affected_rows)

3

In [21]:
display(cur.rowcount)

3

In [20]:
display(cur.insert_id)

0

In [18]:
display(cur.description)

(('Matricula', 3, 2, 10, 0, 0, True, 32800, 'Aluno', 'Matricula', 'Aluno'),
 ('Nome', 253, 100, 400, 0, 0, True, 0, 'Aluno', 'Nome', 'Aluno'),
 ('DataNascimento',
  10,
  2,
  10,
  0,
  0,
  True,
  128,
  'Aluno',
  'DataNascimento',
  'Aluno'),
 ('Curso', 254, 3, 12, 0, 0, True, 0, 'Aluno', 'Curso', 'Aluno'))

In [25]:
for tuple in cur:
    print(tuple)

(1918023, 'Camila Braga', datetime.date(1999, 3, 12), 'COM')
(1918142, 'Jo√£o Lage', datetime.date(2001, 11, 20), 'PRO')
(1828201, 'Pedro Santos', datetime.date(2000, 9, 2), 'COM')

In [23]:
display(cur.rownumber)
display(cur.next())

0

In [19]:
display(cur.fetchall)

In [ ]:
# df = pd.read_sql(data)
# display(df)