# pandas.read_sql

https://pandas.pydata.org/docs/reference/

In [ ]:
import mysql.connector

In [ ]:
from mysql.connector import FieldType

In [ ]:
import sys
# sys.path.insert(1, 'C:\AppData\Code\py')
sys.path.append('C:\AppData\Code\py')
import passwd

In [ ]:
dsn=passwd.dsn['evoice']
dsn

{'user': 'ro', 'password': 'tim_cp[ro]', 'host': 'evoice', 'database': 'test'}

In [ ]:
field_type = {
    0: 'DECIMAL',
    1: 'TINY',
    2: 'SHORT',
    3: 'LONG',
    4: 'FLOAT',
    5: 'DOUBLE',
    6: 'NULL',
    7: 'TIMESTAMP',
    8: 'LONGLONG',
    9: 'INT24',
    10: 'DATE',
    11: 'TIME',
    12: 'DATETIME',
    13: 'YEAR',
    14: 'NEWDATE',
    15: 'VARCHAR',
    16: 'BIT',
    246: 'NEWDECIMAL',
    247: 'INTERVAL',
    248: 'SET',
    249: 'TINY_BLOB',
    250: 'MEDIUM_BLOB',
    251: 'LONG_BLOB',
    252: 'BLOB',
    253: 'VAR_STRING',
    254: 'STRING',
    255: 'GEOMETRY',
}

In [11]:
try:
    conn = mysql.connect(**dsn)
except mysql.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    # sys.exit(1)
cur = conn.cursor()

In [24]:
cur.execute("SELECT * FROM Aluno")

In [ ]:
display(cur.closed)

False

In [ ]:
display(cur.affected_rows)

3

In [ ]:
display(cur.rowcount)

3

In [ ]:
display(cur.insert_id)

0

In [ ]:
display(cur.lastrowid)

None

In [ ]:
display(cur.description)

(('id', 3, 2, 10, 0, 0, False, 49699, 'a', 'id', 'Aluno'),
 ('Matricula', 3, 2, 10, 0, 0, True, 49188, 'a', 'Matricula', 'Aluno'),
 ('Nome', 253, 100, 400, 0, 0, False, 20489, 'a', 'Nome', 'Aluno'),
 ('Coluna 4', 253, 100, 400, 0, 0, False, 20485, 'a', 'Coluna 4', 'Aluno'),
 ('Coluna 5', 253, 100, 400, 0, 0, False, 4097, 'a', 'Coluna 5', 'Aluno'),
 ('Coluna 3', 3, 2, 10, 0, 0, False, 32801, 'a', 'Coluna 3', 'Aluno'),
 ('Nasc', 10, 2, 10, 0, 0, True, 128, 'a', 'Nasc', 'Aluno'),
 ('Obs', 252, 65535, 262140, 0, 0, True, 16, 'a', 'Obs', 'Aluno'),
 ('Dt', 12, 4, 19, 0, 0, False, 129, '', '', ''))

In [ ]:
fields = [field_md[0] for field_md in cur.description]
display(fields)

['Matricula', 'Nome', 'DataNascimento', 'Curso', 'Dt']

In [ ]:
# ('Matricula', 3, 2, 10, 0, 0, True, 32800, 'a', 'Matricula', 'Aluno')
mydict = {
    idx:{
        'field':cur.description[idx][0],
        'table':cur.description[idx][10],
        'type':field_type[cur.description[idx][1]],
        'type_byFT':FieldType.get_info(cur.description[idx][1]),
        'x2':cur.description[idx][2],
        'len':cur.description[idx][3],
        'x4':cur.description[idx][4],
        'x5':cur.description[idx][5],
        'isNull':cur.description[idx][6],
        'flags':cur.description[idx][7],
        'tableAlias':cur.description[idx][8],
        'fieldAlias':cur.description[idx][9],
        # '':FieldType.
    } 
    for idx in range(len(cur.description))
}
display(mydict)

{0: {'field': 'Matricula',
  'table': 'Aluno',
  'type': 'LONG',
  'type_byFT': 'LONG',
  'x2': 2,
  'len': 10,
  'x4': 0,
  'x5': 0,
  'isNull': True,
  'flags': 32800,
  'tableAlias': 'a',
  'fieldAlias': 'Matricula'},
 1: {'field': 'Nome',
  'table': 'Aluno',
  'type': 'VAR_STRING',
  'type_byFT': 'VAR_STRING',
  'x2': 100,
  'len': 400,
  'x4': 0,
  'x5': 0,
  'isNull': True,
  'flags': 0,
  'tableAlias': 'a',
  'fieldAlias': 'Nome'},
 2: {'field': 'DataNascimento',
  'table': 'Aluno',
  'type': 'DATE',
  'type_byFT': 'DATE',
  'x2': 2,
  'len': 10,
  'x4': 0,
  'x5': 0,
  'isNull': True,
  'flags': 128,
  'tableAlias': 'a',
  'fieldAlias': 'DataNascimento'},
 3: {'field': 'Curso',
  'table': 'Aluno',
  'type': 'STRING',
  'type_byFT': 'STRING',
  'x2': 3,
  'len': 12,
  'x4': 0,
  'x5': 0,
  'isNull': True,
  'flags': 0,
  'tableAlias': 'a',
  'fieldAlias': 'Curso'},
 4: {'field': 'Dt',
  'table': '',
  'type': 'DATETIME',
  'type_byFT': 'DATETIME',
  'x2': 4,
  'len': 19,
  'x4': 0,
  'x5': 0,
  'isNull': False,
  'flags': 129,
  'tableAlias': '',
  'fieldAlias': ''}}

In [ ]:
display(cur.sp_outparams)

False

In [ ]:
display(cur.statement)

'SELECT a.*, now() Dt FROM Aluno a'

In [ ]:
display(cur.warnings)

0

In [ ]:
cur.execute(cur.statement)
for tuple in cur:
    print(tuple)

(1918023, 'Camila Braga', datetime.date(1999, 3, 12), 'COM')
(1918142, 'Jo√£o Lage', datetime.date(2001, 11, 20), 'PRO')
(1828201, 'Pedro Santos', datetime.date(2000, 9, 2), 'COM')

In [ ]:
cur.execute(cur.statement)
row = cur.fetchone()
while row is not None:
    display(row)
    row = cur.fetchone()

(1918023,
 'Camila Braga',
 datetime.date(1999, 3, 12),
 'COM',
 datetime.datetime(2022, 10, 12, 18, 52, 16))

(1918142,
 'Jo√£o Lage',
 datetime.date(2001, 11, 20),
 'PRO',
 datetime.datetime(2022, 10, 12, 18, 52, 16))

(1828201,
 'Pedro Santos',
 datetime.date(2000, 9, 2),
 'COM',
 datetime.datetime(2022, 10, 12, 18, 52, 16))

In [ ]:
cur.execute(cur.statement)
display(cur.rownumber)
display(cur.fetchone())
display(cur.rownumber)
cur.next()
display(cur.rownumber)

0

(1918023,
 'Camila Braga',
 datetime.date(1999, 3, 12),
 'COM',
 datetime.datetime(2022, 10, 12, 18, 47, 25))

1

2

In [ ]:
cur.execute(cur.statement)
display(cur.fetchall())

[]

In [ ]:
# display()
# commit() and rollback()
# conn.autocommit = False

In [ ]:
conn.close()