In [4]:
a <- c(4, 2, 6, 7, 4)

a
mean(a) # média

a[1]

[1] 4 2 6 7 4

[1] 4.6

[1] 4

numeric(0)

In [10]:
idades<-c(25,30)
nomes<-c("Joao","Maria")
df<-data.frame(nomes,idades)
df

  nomes idades
1 Joao  25
2 Maria 30

In [12]:
df$idades[df$nomes=="Joao"]

[1] 25

In [14]:
if (df$idades[df$nomes=="Joao"] > df$idades[df$nomes=="Maria"]){
	"Joao Mais Velho que Maria"
} else {
	"Mais novo"
}

[1] "Mais novo"

In [20]:
for (i in idades){
	print(i)
}

[1] 25
[1] 30