# tabulate

A biblioteca **`tabulate`** em Python Ã© usada para **formatar dados tabulares** (como listas de listas, dicionÃ¡rios ou DataFrames) em **tabelas bem organizadas e legÃ­veis**. Ela Ã© especialmente Ãºtil para exibir dados em formato de texto, como em terminais, logs ou relatÃ³rios simples.

In [4]:
%pip install tabulate
from tabulate import tabulate,simple_separated_format

Requirement already satisfied: tabulate in c:\users\f8034906\appdata\local\programs\python\python312\lib\site-packages (0.9.0)
Note: you may need to restart the kernel to use updated packages.

## Como funciona

A funÃ§Ã£o principal Ã©:

```python
from tabulate import tabulate

tabulate(data, headers=(), tablefmt='simple')
```

- **`data`**: lista de listas, lista de dicionÃ¡rios, dicionÃ¡rio de listas, etc.
- **`headers`**: pode ser uma lista de nomes de colunas, `"keys"` (para usar as chaves dos dicionÃ¡rios), ou `"firstrow"` (para usar a primeira linha como cabeÃ§alho).
- **`tablefmt`**: define o estilo da tabela (ex: `"plain"`, `"grid"`, `"pipe"`, `"fancy_grid"`, `"github"`, etc.)

**Recursos adicionais**:

- **Alinhamento**: vocÃª pode alinhar colunas com `colalign=("left", "center", "right")`
- **NumeraÃ§Ã£o de linhas**: use `showindex=True`
- **Formatar nÃºmeros**: use `floatfmt=".2f"` para casas decimais

### ğŸ“Œ **DescriÃ§Ã£o dos parÃ¢metros**

| ParÃ¢metro                | Tipo              | DescriÃ§Ã£o                                                                                                                    |
| ------------------------ | ----------------- | ---------------------------------------------------------------------------------------------------------------------------- |
| **`tabular_data`**       | lista, dict, etc. | Os dados tabulares a serem formatados. Pode ser lista de listas, lista de dicionÃ¡rios, dicionÃ¡rio de listas, etc.            |
| **`headers`**            | lista, str, bool  | Define os cabeÃ§alhos. OpÃ§Ãµes: `"keys"`, `"firstrow"`, lista de strings, `()` (sem cabeÃ§alho), `None`.                        |
| **`tablefmt`**           | str               | Estilo da tabela. Exemplos: `"plain"`, `"simple"`, `"grid"`, `"pipe"`, `"fancy_grid"`, `"github"`, `"html"`, `"latex"`, etc. |
| **`floatfmt`**           | str ou lista      | Formato de nÃºmeros de ponto flutuante. Ex: `".2f"` para duas casas decimais. Pode ser uma lista para colunas especÃ­ficas.    |
| **`intfmt`**             | str ou lista      | Formato para inteiros. Ex: `","` para separador de milhar.                                                                   |
| **`numalign`**           | str               | Alinhamento de nÃºmeros. OpÃ§Ãµes: `"right"`, `"center"`, `"left"`, `"decimal"`.                                                |
| **`stralign`**           | str               | Alinhamento de strings. OpÃ§Ãµes: `"right"`, `"center"`, `"left"`.                                                             |
| **`missingval`**         | str               | Valor a ser exibido para dados ausentes (`None`). PadrÃ£o: `""`.                                                              |
| **`showindex`**          | bool, str         | Mostra Ã­ndice. OpÃ§Ãµes: `True`, `False`, `"always"`, `"default"`, `"never"`.                                                  |
| **`disable_numparse`**   | bool              | Se `True`, nÃ£o tenta converter strings em nÃºmeros automaticamente.                                                           |
| **`colalign`**           | tupla/lista       | Alinhamento por coluna. Ex: `("left", "center", "right")`.                                                                   |
| **`maxcolwidths`**       | int/list          | Largura mÃ¡xima das colunas de dados. Pode truncar texto.                                                                     |
| **`rowalign`**           | str/list          | Alinhamento vertical das cÃ©lulas. Ex: `"top"`, `"middle"`, `"bottom"`.                                                       |
| **`maxheadercolwidths`** | int/list          | Largura mÃ¡xima das colunas de cabeÃ§alho.                                                                                     |

In [2]:
# Exemplo 1: Lista de listas
data_list = [['Alice', 24], ['Bob', 19], ['Carol', 32]]
headers_list = ['Nome', 'Idade']
print(tabulate(data_list, headers=headers_list, tablefmt='grid'))

+--------+---------+
| Nome   |   Idade |
+========+=========+
| Alice  |      24 |
+--------+---------+
| Bob    |      19 |
+--------+---------+
| Carol  |      32 |
+--------+---------+

In [4]:
# Exemplo 2: Lista de dicionÃ¡rios
data_dict_list = [
    {'Nome': 'Alice', 'Idade': 24},
    {'Nome': 'Bob', 'Idade': 19},
    {'Nome': 'Carol', 'Idade': 32}
]
print(tabulate(data_dict_list, headers='keys', tablefmt='fancy_grid'))

â•’â•â•â•â•â•â•â•â•â•¤â•â•â•â•â•â•â•â•â•â••
â”‚ Nome   â”‚   Idade â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•¡
â”‚ Alice  â”‚      24 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ Bob    â”‚      19 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ Carol  â”‚      32 â”‚
â•˜â•â•â•â•â•â•â•â•â•§â•â•â•â•â•â•â•â•â•â•›

In [34]:
def pr(tbls: list[str], sep: str = '  â–  '):
    """Function to print multiple tables side by side.

    Args:
        tbls (list[str]): List of tables as strings, where each table is separated by newlines.
        sep (str, optional): Separator between columns. Defaults to '  â”‚  '.
    """
    a_len = []
    max_row = 0
    for k, v in enumerate(tbls):
        tbls[k] = v.split('\n')
        a_len.append(max(len(s) for s in tbls[k]))
        max_row = max(max_row, len(tbls[k]))
    for r in range(max_row):
        for k, v in enumerate(tbls):
            if r < len(v):
                print(f'{v[r]: <{a_len[k]}}', end=sep)
            else:
                print(' ' * (a_len[k]), end=sep)
        print()

In [35]:
# Exemplo 3: DicionÃ¡rio de listas
data_dict = {
    'Nome': ['Alice', 'Bob', 'Carol'],
    'Idade': [24, 19, 32]
}
headers = 'keys'

pr([
    tabulate(data_dict,  tablefmt='github'),
    tabulate(data_dict, headers=headers, tablefmt='simple'),
])

|-------|----|  â–  Nome      Idade  â–
| Alice | 24 |  â–  ------  -------  â–
| Bob   | 19 |  â–  Alice        24  â–
| Carol | 32 |  â–  Bob          19  â–
                â–  Carol        32  â–

In [19]:
# FunÃ§Ã£o para demonstrar diferentes formatos de tabela
lst = []
for fmt in ['plain', 'simple', 'grid', 'pipe', 'fancy_grid', 'github']:
    lst.append(
        f'\nFormato: {fmt}\n' +
        tabulate(data_dict, headers=headers, tablefmt=fmt))
pr(lst)

Formato: plain    Formato: simple   Formato: grid          Formato: pipe          Formato: fancy_grid    Formato: github
Nome      Idade   Nome      Idade   +--------+---------+   | Nome   |   Idade |   â•’â•â•â•â•â•â•â•â•â•¤â•â•â•â•â•â•â•â•â•â••   | Nome   |   Idade |
Alice        24   ------  -------   | Nome   |   Idade |   |:-------|--------:|   â”‚ Nome   â”‚   Idade â”‚   |--------|---------|
Bob          19   Alice        24   +========+=========+   | Alice  |      24 |   â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•¡   | Alice  |      24 |
Carol        32   Bob          19   | Alice  |      24 |   | Bob    |      19 |   â”‚ Alice  â”‚      24 â”‚   | Bob    |      19 |
                  Carol        32   +--------+---------+   | Carol  |      32 |   â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤   | Carol  |      32 |
                                    | Bob    |      19 |                          â”‚ Bob    â”‚      19 â”‚
                                    +--------+---------+                          â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
                                    | Carol  |      32 |                          â”‚ Carol  â”‚      32 â”‚
                                    +--------+---------+                          â•˜â•â•â•â•â•â•â•â•â•§â•â•â•â•â•â•â•â•â•â•›

In [27]:
# FunÃ§Ãµes diversas

pr([
    'Alinhamento:\n' +
    tabulate(data_dict, headers=headers, tablefmt='simple',
             colalign=('center', 'right')),

    'NumeraÃ§Ã£o Linhas:\n' +
    tabulate(data_dict, headers=headers, tablefmt='simple', showindex=True),

    'FormataÃ§Ã£o Num:\n' +
    tabulate(data_dict, headers=headers, tablefmt='simple', floatfmt='.2f'),

    'Separador:\n' +
    tabulate(data_dict, tablefmt=simple_separated_format("\\t")),
])

Alinhamento:      NumeraÃ§Ã£o Linhas:     FormataÃ§Ã£o Num:   Separador:
 Nome     Idade       Nome      Idade   Nome      Idade   Alice\t24
------  -------   --  ------  -------   ------  -------   Bob  \t19
Alice        24    0  Alice        24   Alice        24   Carol\t32
 Bob         19    1  Bob          19   Bob          19
Carol        32    2  Carol        32   Carol        32

In [28]:
data = [["Alice", 24.567], ["Bob", None], ["Carol", 32.1]]
headers = ["Nome", "Idade"]

print(tabulate(
    data,
    headers=headers,
    tablefmt="fancy_grid",
    floatfmt=".1f",
    numalign="right",
    stralign="center",
    missingval="N/A",
    showindex=True,
    colalign=("center", "right")
))

â•’â•â•â•â•â•¤â•â•â•â•â•â•â•â•â•¤â•â•â•â•â•â•â•â•â•â••
â”‚    â”‚   Nome â”‚   Idade â”‚
â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•¡
â”‚ 0  â”‚  Alice â”‚    24.6 â”‚
â”œâ”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 1  â”‚    Bob â”‚     N/A â”‚
â”œâ”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 2  â”‚  Carol â”‚    32.1 â”‚
â•˜â•â•â•â•â•§â•â•â•â•â•â•â•â•â•§â•â•â•â•â•â•â•â•â•â•›