# tabulate

A biblioteca **`tabulate`** em Python é usada para **formatar dados tabulares** (como listas de listas, dicionários ou DataFrames) em **tabelas bem organizadas e legíveis**. Ela é especialmente útil para exibir dados em formato de texto, como em terminais, logs ou relatórios simples.

In [4]:
%pip install tabulate
from tabulate import tabulate,simple_separated_format

Requirement already satisfied: tabulate in c:\users\f8034906\appdata\local\programs\python\python312\lib\site-packages (0.9.0)
Note: you may need to restart the kernel to use updated packages.

## Como funciona

A função principal é:

```python
from tabulate import tabulate

tabulate(data, headers=(), tablefmt='simple')
```

- **`data`**: lista de listas, lista de dicionários, dicionário de listas, etc.
- **`headers`**: pode ser uma lista de nomes de colunas, `"keys"` (para usar as chaves dos dicionários), ou `"firstrow"` (para usar a primeira linha como cabeçalho).
- **`tablefmt`**: define o estilo da tabela (ex: `"plain"`, `"grid"`, `"pipe"`, `"fancy_grid"`, `"github"`, etc.)

**Recursos adicionais**:

- **Alinhamento**: você pode alinhar colunas com `colalign=("left", "center", "right")`
- **Numeração de linhas**: use `showindex=True`
- **Formatar números**: use `floatfmt=".2f"` para casas decimais

### 📌 **Descrição dos parâmetros**

| Parâmetro                | Tipo              | Descrição                                                                                                                    |
| ------------------------ | ----------------- | ---------------------------------------------------------------------------------------------------------------------------- |
| **`tabular_data`**       | lista, dict, etc. | Os dados tabulares a serem formatados. Pode ser lista de listas, lista de dicionários, dicionário de listas, etc.            |
| **`headers`**            | lista, str, bool  | Define os cabeçalhos. Opções: `"keys"`, `"firstrow"`, lista de strings, `()` (sem cabeçalho), `None`.                        |
| **`tablefmt`**           | str               | Estilo da tabela. Exemplos: `"plain"`, `"simple"`, `"grid"`, `"pipe"`, `"fancy_grid"`, `"github"`, `"html"`, `"latex"`, etc. |
| **`floatfmt`**           | str ou lista      | Formato de números de ponto flutuante. Ex: `".2f"` para duas casas decimais. Pode ser uma lista para colunas específicas.    |
| **`intfmt`**             | str ou lista      | Formato para inteiros. Ex: `","` para separador de milhar.                                                                   |
| **`numalign`**           | str               | Alinhamento de números. Opções: `"right"`, `"center"`, `"left"`, `"decimal"`.                                                |
| **`stralign`**           | str               | Alinhamento de strings. Opções: `"right"`, `"center"`, `"left"`.                                                             |
| **`missingval`**         | str               | Valor a ser exibido para dados ausentes (`None`). Padrão: `""`.                                                              |
| **`showindex`**          | bool, str         | Mostra índice. Opções: `True`, `False`, `"always"`, `"default"`, `"never"`.                                                  |
| **`disable_numparse`**   | bool              | Se `True`, não tenta converter strings em números automaticamente.                                                           |
| **`colalign`**           | tupla/lista       | Alinhamento por coluna. Ex: `("left", "center", "right")`.                                                                   |
| **`maxcolwidths`**       | int/list          | Largura máxima das colunas de dados. Pode truncar texto.                                                                     |
| **`rowalign`**           | str/list          | Alinhamento vertical das células. Ex: `"top"`, `"middle"`, `"bottom"`.                                                       |
| **`maxheadercolwidths`** | int/list          | Largura máxima das colunas de cabeçalho.                                                                                     |

In [2]:
# Exemplo 1: Lista de listas
data_list = [['Alice', 24], ['Bob', 19], ['Carol', 32]]
headers_list = ['Nome', 'Idade']
print(tabulate(data_list, headers=headers_list, tablefmt='grid'))

+--------+---------+
| Nome   |   Idade |
+========+=========+
| Alice  |      24 |
+--------+---------+
| Bob    |      19 |
+--------+---------+
| Carol  |      32 |
+--------+---------+

In [4]:
# Exemplo 2: Lista de dicionários
data_dict_list = [
    {'Nome': 'Alice', 'Idade': 24},
    {'Nome': 'Bob', 'Idade': 19},
    {'Nome': 'Carol', 'Idade': 32}
]
print(tabulate(data_dict_list, headers='keys', tablefmt='fancy_grid'))

╒════════╤═════════╕
│ Nome   │   Idade │
╞════════╪═════════╡
│ Alice  │      24 │
├────────┼─────────┤
│ Bob    │      19 │
├────────┼─────────┤
│ Carol  │      32 │
╘════════╧═════════╛

In [34]:
def pr(tbls: list[str], sep: str = '  ▐  '):
    """Function to print multiple tables side by side.

    Args:
        tbls (list[str]): List of tables as strings, where each table is separated by newlines.
        sep (str, optional): Separator between columns. Defaults to '  │  '.
    """
    a_len = []
    max_row = 0
    for k, v in enumerate(tbls):
        tbls[k] = v.split('\n')
        a_len.append(max(len(s) for s in tbls[k]))
        max_row = max(max_row, len(tbls[k]))
    for r in range(max_row):
        for k, v in enumerate(tbls):
            if r < len(v):
                print(f'{v[r]: <{a_len[k]}}', end=sep)
            else:
                print(' ' * (a_len[k]), end=sep)
        print()

In [35]:
# Exemplo 3: Dicionário de listas
data_dict = {
    'Nome': ['Alice', 'Bob', 'Carol'],
    'Idade': [24, 19, 32]
}
headers = 'keys'

pr([
    tabulate(data_dict,  tablefmt='github'),
    tabulate(data_dict, headers=headers, tablefmt='simple'),
])

|-------|----|  ▐  Nome      Idade  ▐
| Alice | 24 |  ▐  ------  -------  ▐
| Bob   | 19 |  ▐  Alice        24  ▐
| Carol | 32 |  ▐  Bob          19  ▐
                ▐  Carol        32  ▐

In [19]:
# Função para demonstrar diferentes formatos de tabela
lst = []
for fmt in ['plain', 'simple', 'grid', 'pipe', 'fancy_grid', 'github']:
    lst.append(
        f'\nFormato: {fmt}\n' +
        tabulate(data_dict, headers=headers, tablefmt=fmt))
pr(lst)

Formato: plain    Formato: simple   Formato: grid          Formato: pipe          Formato: fancy_grid    Formato: github
Nome      Idade   Nome      Idade   +--------+---------+   | Nome   |   Idade |   ╒════════╤═════════╕   | Nome   |   Idade |
Alice        24   ------  -------   | Nome   |   Idade |   |:-------|--------:|   │ Nome   │   Idade │   |--------|---------|
Bob          19   Alice        24   +========+=========+   | Alice  |      24 |   ╞════════╪═════════╡   | Alice  |      24 |
Carol        32   Bob          19   | Alice  |      24 |   | Bob    |      19 |   │ Alice  │      24 │   | Bob    |      19 |
                  Carol        32   +--------+---------+   | Carol  |      32 |   ├────────┼─────────┤   | Carol  |      32 |
                                    | Bob    |      19 |                          │ Bob    │      19 │
                                    +--------+---------+                          ├────────┼─────────┤
                                    | Carol  |      32 |                          │ Carol  │      32 │
                                    +--------+---------+                          ╘════════╧═════════╛

In [27]:
# Funções diversas

pr([
    'Alinhamento:\n' +
    tabulate(data_dict, headers=headers, tablefmt='simple',
             colalign=('center', 'right')),

    'Numeração Linhas:\n' +
    tabulate(data_dict, headers=headers, tablefmt='simple', showindex=True),

    'Formatação Num:\n' +
    tabulate(data_dict, headers=headers, tablefmt='simple', floatfmt='.2f'),

    'Separador:\n' +
    tabulate(data_dict, tablefmt=simple_separated_format("\\t")),
])

Alinhamento:      Numeração Linhas:     Formatação Num:   Separador:
 Nome     Idade       Nome      Idade   Nome      Idade   Alice\t24
------  -------   --  ------  -------   ------  -------   Bob  \t19
Alice        24    0  Alice        24   Alice        24   Carol\t32
 Bob         19    1  Bob          19   Bob          19
Carol        32    2  Carol        32   Carol        32

In [28]:
data = [["Alice", 24.567], ["Bob", None], ["Carol", 32.1]]
headers = ["Nome", "Idade"]

print(tabulate(
    data,
    headers=headers,
    tablefmt="fancy_grid",
    floatfmt=".1f",
    numalign="right",
    stralign="center",
    missingval="N/A",
    showindex=True,
    colalign=("center", "right")
))

╒════╤════════╤═════════╕
│    │   Nome │   Idade │
╞════╪════════╪═════════╡
│ 0  │  Alice │    24.6 │
├────┼────────┼─────────┤
│ 1  │    Bob │     N/A │
├────┼────────┼─────────┤
│ 2  │  Carol │    32.1 │
╘════╧════════╧═════════╛